
.containerProfile {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.containerPictureProfile {
  width: 180px;
  height: 160px;
  margin-top: -90px;
}

.pictureProfile {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  
}

.pictureProfileInfo {
  height: 69vh;
  width: 360px;
  border-radius: 5px;
  background-color: #FFFBF5;
  display: flex;
  justify-content: center;
}

.backgroundGray {
  background-color: rgba(82, 92, 119, 0.226);
  padding: 5px;
  border-radius: 10px;
}

.socialIcon {
  width: 28px;
}

.btn:hover {
  background: linear-gradient(90deg, rgba(131,58,180,1) 42%, rgba(117,88,180,1) 93%);
}

.iconContact {
  width: 30px;
  background-color: #FFFBF5;
  padding: 5px;
  margin-right: 6px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.line {
  padding-top: 12px;
  margin-top: 8px;
  border-top: 2px solid rgba(77, 65, 65, 0.103);
}

.btnCV {
  background: linear-gradient(90deg, rgba(131,58,180,1) 42%, rgba(117,88,180,1) 93%);
  width: 180px;
}

.iconCV {
  width: 30px;
  padding: 5px;
}