
.container {
  background-color: #FFFBF5;
  width: 380px;
  position: -webkit-sticky;
  position: sticky;
  top: 96px;
  border-radius: 5px;
}

.profilePicture {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px solid #8239B3;
}

.backgroundPurple {
  background-color: #8239B3;
  color: white;
  padding: 4px;
  border-radius: 5px;
  border: none;
}

.iconContact {
  width: 26px;
}