.containerInfo {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.nav-pills {
  background-color: #FFFBF5;
  border-radius: 6px;
}

.tabContent {
  width: 800px;
  height: 92vh;
  border-radius: 5px;
  background-color: #FFFBF5;
  margin-left: 10px;
}

.black {
  color: black;
}

.nav-link {
  color: white;
  &.active {
    background: linear-gradient(90deg, rgba(131,58,180,1) 42%, rgba(117,88,180,1) 93%);
  }
}

.tab-pane {
  padding: 50px;
}

hr {
  box-sizing:border-box;
  width: 50%;  
  border: 1px solid #48116d;
}

@media(max-width: 992px) {
  .tabContent {
    margin: auto;
    width: 100%;
  }

  .container {
    flex-direction: column;
  }

  .tabContent {
    margin-left: 0;
  }

}