<div class="container d-flex justify-content-center">
  <div class="containerInfo">
    <div class="tabContent">
      <div
        class="nav col-12 justify-content-center"
        id="v-pills-tab"
        role="tablist"
      >
        <button
          class="nav-link active col-3 mx-5 py-3"
          data-bs-toggle="pill"
          data-bs-target="#about"
          type="button"
          aria-controls="v-pills-home"
          aria-selected="true"
        >
          <span class="black fs-4">Sobre</span>
        </button>
        <button
          class="nav-link col-3 mx-5 py-3"
          data-bs-toggle="pill"
          data-bs-target="#project"
          type="button"
          aria-controls="v-pills-profile"
          aria-selected="false"
        >
          <span class="black fs-4">Projetos</span>
        </button>
      </div>
      <div class="tab-content" id="v-pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="about"
          role="tabpanel"
          aria-labelledby="homeTab"
          tabindex="0"
        >
          <p>
            Olá, me chamo Mateus Suzuki e estudo programação a um ano e meio, já
            realizei alguns projetos pequenos, mas recentemente estou aplicando
            todo meu aprendizado em projetos maiores e com mais funções.
          </p>
          <p>Aqui estão algumas tecnologias que eu tenho conhecimento:</p>
          <h4>Tecnologias</h4>
          <app-tec class="row justify-content-center" />
        </div>
        <div
          class="tab-pane fade"
          id="project"
          role="tabpanel"
          aria-labelledby="projectTab"
          tabindex="0"
        >
          <app-projects class="row justify-content-center" />
        </div>
      </div>
    </div>
  </div>
</div>
