.containerInfo {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.tabContent {
  width: 800px;
  height: 92vh;
  border-radius: 5px;
  background-color: #FFFBF5;
}

.nav-link {
  color: white;
  &.active {
    background: linear-gradient(90deg, rgba(131,58,180,1) 42%, rgba(117,88,180,1) 93%);
  }
}

.tab-pane {
  padding: 50px;
}