.containerInfo {
  min-height: 119.4vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}

.nav {
  border-bottom: 1px solid #6f5a7e6c;
}

.tabContent {
  width: 800px;
  min-height: 110vh;
  border-radius: 5px;
  background-color: #FFFBF5;
  margin-left: 10px;
}



.black:active {
  color: #48116d;
  
}

.nav-link {
  color: rgb(0, 0, 0);
  &.active {
    border-bottom: 2px solid #48116d;
    color: #48116d;
  }
}

.tab-pane {
  padding: 50px;
}

hr {
  box-sizing:border-box;
  width: 100%;  
  border: 1px solid #48116d;
}

@media(max-width: 992px) {
  .tabContent {
    margin: auto;
    width: 100%;
  }

  .container {
    flex-direction: column;
  }

  .tabContent {
    margin-left: 0;
  }

}