<div class="container d-flex">
  <div class="containerInfo">
    <div class="tabContent ">
      <div class="tab-content" id="v-pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="about"
          role="tabpanel"
          aria-labelledby="homeTab"
          tabindex="0"
        >
          <h1>Sobre</h1>
          <p>Olá, me chamo Mateus Suzuki e estudo programação a um ano e meio, já realizei alguns projetos pequenos, mas recentemente estou aplicando todo meu aprendizado em projetos maiores e com mais funções.</p>
          <h3>Tecnologias:</h3>
          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-2">
                  <img src="../../../assets/svgs/angular.svg" alt="" class="iconTecno">
                </div>
                <div class="col-10">
                  <h2>Angular</h2>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-2">
                  <img src="../../../assets/svgs/js.svg" alt="" class="iconTecno">
                </div>
                <div class="col-10">
                  <h2>JavaScript</h2>
                </div>
              </div>
            </div>
          </div>
          <div>
            
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="project"
          role="tabpanel"
          aria-labelledby="projectTab"
          tabindex="0"
        >
          ...
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center ms-4">
    <div
      class="nav flex-column nav-pills me-3"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <button
        class="nav-link active"
        id="homeTab"
        data-bs-toggle="pill"
        data-bs-target="#about"
        type="button"
        role="tab"
        aria-controls="v-pills-home"
        aria-selected="true"
      >
        Sobre
      </button>
      <button
        class="nav-link"
        id="projectTab"
        data-bs-toggle="pill"
        data-bs-target="#project"
        type="button"
        role="tab"
        aria-controls="v-pills-profile"
        aria-selected="false"
      >
        Projetos
      </button>
    </div>
  </div>
</div>
