.img {
  width: 278px;
  border-radius: 15px;
  padding: 10px;
}

.backPurple {
  background-color: rgba(117, 88, 180, 0.342);
  padding: 16px;
  border-radius: 10px;
}

.backBlue {
  background-color: rgba(80, 95, 175, 0.26);
  padding: 16px;
  border-radius: 10px;
}